In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Датасето из соревнования на Kaggle - https://www.kaggle.com/c/avito-context-ad-clicks.

В файле VisitsStream.tsv содержится информация о посещениях пользователями сайта в хронологическом порядке. Необходимо взять первые 1 000 000 записей из этой таблицы и подсчитать для них топ-10 пользователей (userId) по числу посещений. Количество этих посещений также должно быть отображено в результате. Все этапы - загрузка, преобразования и выгрузка данных - необходимо произвести с использованием Bash

In [2]:
!p7zip -d '/content/drive/MyDrive/VisitsStream.tsv.7z'

/usr/bin/p7zip: cannot read /content/drive/MyDrive/VisitsStream.tsv.7z

In [16]:
path = '/content/VisitsStream.tsv'

In [18]:
! cat VisitsStream.tsv | head -n 10

UserID	IPID	AdID	ViewDate
59703	1259356	469877	2015-04-25 00:00:00.0
154389	1846749	27252551	2015-04-25 00:00:00.0
218628	2108380	31685325	2015-04-25 00:00:00.0
231535	837110	18827716	2015-04-25 00:00:00.0
282306	1654210	29363673	2015-04-25 00:00:00.0
295068	601505	588324	2015-04-25 00:00:00.0
501897	158476	4103261	2015-04-25 00:00:00.0
655394	631692	9860544	2015-04-25 00:00:00.0
765603	804403	29475627	2015-04-25 00:00:00.0

In [24]:
! cat VisitsStream.tsv |cut -f 1,4 | head -n 10

UserID	ViewDate
59703	2015-04-25 00:00:00.0
154389	2015-04-25 00:00:00.0
218628	2015-04-25 00:00:00.0
231535	2015-04-25 00:00:00.0
282306	2015-04-25 00:00:00.0
295068	2015-04-25 00:00:00.0
501897	2015-04-25 00:00:00.0
655394	2015-04-25 00:00:00.0
765603	2015-04-25 00:00:00.0

In [53]:
! cat VisitsStream.tsv | cut -f 1 | tail -n +2| head -n 1000000| sort -k1,1 -n | uniq -c | sort -k1,1 -n -r| head -n 10

   2814 4285777
   1657 769640
    731 4325557
    394 3210937
    381 4263912
    336 760745
    334 3669654
    323 350213
    316 2356324
    309 1192247